body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
}
li, dt, dd {
  line-height: 30px;
}
dd {
  margin-bottom: 20px;
}

.kw-sidebar-inner.affix {
  top: 40px;
}

.kw-sidebar .logo {
  margin: 20px auto 30px;
  width: 198px;
}

header.get-started {
  height: 100px;
}

@media (min-width: 980px) {
  .kw-sidebar-inner {
    width: 270px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .kw-sidebar-inner {
    width: 198px;
  }
}
@media (max-width: 767px) {
  .kw-sidebar {
    display: none;
  }
}

.hero-unit h1 {
  text-align: center;
  margin-bottom: 20px;
}
.hero-unit .tag-line {
  font-size: 22px;
  color: #aa0000;
}

.hero-unit p {
  text-align: center;
}
.hero-unit li {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}
.hero-unit ul, .hero-unit ol {
  margin: 30px 0;
}
.hero-unit li {
  list-style-type: none;
  text-align: center;
}

.announce {
  padding: 10px 60px 15px;
  margin-bottom: 30px;
  background-color: #F3EAC4;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.announce p, .announce h2 {
  text-align: center;
}
.announce h2 {
  color: #aa0000;
}

footer {
  margin-top: 70px;
}

footer p {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.page-header {
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 20px
}
.page-header h2 {
  margin-bottom: 0;
}

pre {
  margin-bottom: 20px;
  font-size: 13px;
}
code {
  font-size: 12px;
  white-space: nowrap;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}
h3 code {
  font-size: 14px;
  padding: 4px 5px 3px 5px;
}

.btn-huge {
  padding: 12px 25px 14px 20px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}
.btn-huge [class^="icon-"] {
  margin-right: 7px;
}

.btn-kraftwagen {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #aa0000;
  *background-color: #8a0000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#af0000), to(#8a0000));
  background-image: -webkit-linear-gradient(top, #af0000, #8a0000);
  background-image: -o-linear-gradient(top, #af0000, #8a0000);
  background-image: linear-gradient(to bottom, #af0000, #8a0000);
  background-image: -moz-linear-gradient(top, #af0000, #8a0000);
  background-repeat: repeat-x;
  border-color: #8a0000 #8a0000 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffaf0000', endColorstr='#ff8a0000', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-kraftwagen:hover,
.btn-kraftwagen:active,
.btn-kraftwagen.active,
.btn-kraftwagen.disabled,
.btn-kraftwagen[disabled] {
  color: #ffffff;
  background-color: #8a0000;
  *background-color: #7a0000;
}

.btn-kraftwagen:active,
.btn-kraftwagen.active {
  background-color: #6a0000 \9;
}

a.fork-me {
  display: block;
  border: 0;
  position: absolute; 
  top: 0; 
  right: 0;

  text-indent: -9999px;
  height: 150px;
  width: 150px;
  background: url("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png") no-repeat top right;
  text-decoration: none;
}
a.fork-me:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  a.fork-me {
    text-indent: 0;
    background: #eeeeee;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    padding: 15px;
    height: auto;
    width: auto;
    position: relative
  }
  a.fork-me i {
    color: black;
  }

  .hero-unit li {
    margin-bottom: 10px;
  }

  .hero-unit {
    margin-bottom: 20px;
    padding: 30px 20px;
  }
  .announce {
    margin-bottom: 20px;
    padding: 10px 30px 15px;
  }
}