body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
}
li, dt, dd {
  line-height: 30px;
}
dd {
  margin-bottom: 20px;
}

h2 {
  margin-top: 50px;
}

.kw-sidebar-inner.affix {
  top: 40px;
}

.kw-sidebar-inner {
  background: url('../img/logo-small.png') no-repeat top center;
  padding-top: 200px;
}

header.get-started {
  height: 100px;
}

@media (min-width: 980px) {
  .kw-sidebar-inner {
    width: 270px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .kw-sidebar-inner {
    width: 198px;
  }
}
@media (max-width: 767px) {
  .kw-sidebar {
    display: none;
  }
}

.hero-unit h1 {
  text-align: center;
  margin-bottom: 20px;
}
.hero-unit .tag-line {
  font-size: 22px;
  color: #aa0000;
}

.hero-unit p {
  text-align: center;
}
.hero-unit li {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}
.hero-unit ul, .hero-unit ol {
  margin: 30px 0;
}
.hero-unit li {
  list-style-type: none;
  text-align: center;
}

footer p {
  font-size: 14px;
  text-align: center;
}

.page-header {
  margin-bottom: 10px;
  padding-bottom: 0;
}
.page-header h2 {
  margin-bottom: 0;
}

a.fork-me {
  display: block;
  border: 0;
  position: absolute; 
  top: 0; 
  right: 0;

  text-indent: -9999px;
  height: 150px;
  width: 150px;
  background: url("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png") no-repeat top right;
  text-decoration: none;
}
a.fork-me:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  a.fork-me {
    text-indent: 0;
    background: #eeeeee;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    padding: 15px;
    height: auto;
    width: auto;
    position: relative
  }
  a.fork-me i {
    color: black;
  }

  .hero-unit li {
    margin-bottom: 10px;
  }
}